<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>

<body>
    <div class="container">
        <div class="card-1">
            <div>
                <img class="image" src="images/cat.jpg" alt="cat-1">
            </div>
            <div>
                <p class="profile-name">Oliver</p>
            </div>
            <div>
                <div class="profile-picture">
                    <img class="sub-image" src="images/dog2.jpg" alt="dog-2">
                </div>
                <div class="profile-extra-info">
                    <p class="extra-info">2 mutual friends</p>
                </div>
            </div>
            <div>
                <button class="button">Add Friend</button>
            </div>
        </div>

        <div class="card-2">
            <div>
                <img class="image" src="images/cat2.jpg" alt="cat-2">
            </div>
            <div>
                <p class="profile-name">Mimi</p>
            </div>
            <div>
                <div class="profile-picture">
                    <img class="sub-image" src="images/dog2.jpg" alt="dog-2">
                </div>
                <div class="profile-extra-info">
                    <p class="extra-info">3 mutual friends</p>
                </div>
            </div>
            <div>
                <button class="button">Add Friend</button>
            </div>
        </div>

        <div class="card-3">
            <div>
                <img class="image" src="images/dog.jpg" alt="dog-1">
            </div>
            <div>
                <p class="profile-name">Rex</p>
            </div>
            <div>
                <div class="profile-picture">
                    <img class="sub-image" src="images/dog2.jpg" alt="dog-2">
                </div>
                <div class="profile-extra-info">
                    <p class="extra-info">4 mutual friends</p>
                </div>
            </div>
            <div>
                <button class="button">Add Friend</button>
            </div>
        </div>

        <div class="card-4">
            <div>
                <img class="image" src="images/dog3.jpg" alt="dog-3">
            </div>
            <div>
                <p class="profile-name">Mizuhara</p>
            </div>
            <div>
                <div class="profile-picture">
                    <img class="sub-image" src="images/dog2.jpg" alt="dog-2">
                </div>
                <div class="profile-extra-info">
                    <p class="extra-info">7 mutual friends</p>
                </div>
            </div>
            <div>
                <button class="button">Add Friend</button>
            </div>
        </div>
    </div>
</body>

</html>
